/* header styles */

.navbar-brand>img {
    width: 35px;
}
.navbar-default .navbar-text {
    color: #eb332d;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    font-size: 30px;
}

.featured-text h4 {
    display: inline-block;
    line-height: 28px;
}